* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to right top, #03e9bf63, #01daf6); */
}
html{
  scroll-behavior: smooth;
}
html, body {
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

.video-background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body{
  margin: 0;
  padding: 0;
}
nav{
  position: relative;
  top: 1em;
  width: calc(93% + 2em);
  margin: 10px;
  left: -0.4em;
  background: rgba(107, 199, 235, 0.35);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 1em;

}
.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.topnav li a:hover:not(.active) {
  color: #12caf8;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.intro {
  max-width: 100%;
  max-height: 100%;
  height: -18%;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
  padding-bottom: 10em;
  margin: 4em;
}
.intro_img {
  width: 25%;
  position: relative;
  top: 4em;
  right: 2em;
  border-radius: 10%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  transform-origin: 100% center;
  transition: transform 200ms cubic-bezier(0.4,0,0.16,0.01);
}
.name-glass {
  height: 40%;
  background: rgba(88, 190, 230, 0.2);
  box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  top: 8em;
  left: 0em;
  max-width: 100%;
  min-width: 55%;
  margin: inherit;
}
.title,
.profession {
  position: absolute;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.title {
  top: 5%;
  font-weight: lighter;
  font-size: 2.5vw;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  margin-left: 5%;
}
.title strong {
  font-weight: bold;
  font-size: 4vw;
  position: static;
  top: 0em;
  left: 0em;
  width: 100%;
  z-index: 2;
}
.about-glass {
  min-width: 80%;
  max-width: 85%;
  height: 85vw;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-left: 4em;
  margin-top: 7em;
  position: relative;
  left: 0em;
  padding-bottom: 5%;
  margin-left: 8vw;
}
.about-title{
  left: -0.6em;
}
.project-name,
.project,
.about-title,
.skills-title{
  font-family: 'Uchen', serif;
  font-size: 2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ec008c; 
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c); 
  background: linear-gradient(to right, #fc6767, #ec008c); 
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.about-img {
  max-width: 23%;
  min-width: 16%;
  position: relative;
  left: 74%;
  top: -86%;
  border-radius: 10%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  z-index: 3;
  transform-origin: 25%;
  transition: transform 200ms cubic-bezier(0.4,0,0.16,0.01);
}
.intro_img:hover, 
.about-img:hover{
  transform: translateY(0) scale(1.2);
}
.introduction {
  margin: 10px;
  text-align: left;
  align-items: center;
  position: relative;
  top: 0em;
}
.intro-glass{
  left: 5em;
  top: 5em;
}
.intro-glass, .skills-glass {
  background-color: rgba(119, 215, 215, 0.23);
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px, rgba(0, 0, 0, 0.2) 0px 0px 50px;
}
.intro-glass {
  max-width: 90%;
  height: 25%;
  position: relative;
  left: 0em;
  min-height: 19vh;
  width: 72%;
  border-radius: 30px;
  padding: 0rem;
  margin-bottom: 3vw;
  margin-left: 13vw;
  font-size: 1.8vw;
}
.skills-glass {
  max-width: 72%;
  height: 45%;
  position: relative;
  min-height: 30vh;
  min-width: 59%;
  border-radius: 30px;
  padding: 0rem;
  margin-left: 15%;
  margin-top: 5%;
}
.intro-glass:hover{
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(145, 216, 238, 0.979);
  background-color: rgba(136, 204, 238, 0.561);
}
.skills-glass:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(145, 216, 238, 0.979);
    background-color: rgba(136, 204, 238, 0.561);
}
.intro-glass::before{
  content: "";
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-in-out;
}
.intro-glass:hover:before {
  transform: scale(2.15);
}
.skills-glass{
  top: 7em;
}
.skill-items {
  font-size: 7vw;
  height: 25vh;
  display: inline-block;
  margin-left: 15%;
  overflow: hidden;
}
.skills-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  white-space:pre-wrap;
}
.skill-item1 {
  top: 15%;
  left: 0em;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-bottom: 3vw;
  margin-left: 10%;
  margin-bottom: 10%;
}
.skill-item2 {
  left: 40%;
  top: 15%;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-bottom: 3vw;
  margin-left: 13%;
}
.skill-item3 {
  left: 0em;
  top: 40%;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 6vw;
}
.skill-item4 {
  top: 40%;
  left: 40%;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-left: 2px;
  margin-left: 13%;
  margin-top:6vw;
}
.skill-item1, .skill-item2, .skill-item3, .skill-item4 {
  position: absolute;
  line-height: 3.1vw;
  display: inline-block;
  width: 10em;
  background-color: rgba(119, 215, 215, 0.23);
  transform-style: preserve-3d;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  min-width: 30%;
  height: 18%;
  font-size: 1.5vw;
  font-family: 'Uchen', serif;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: bolder;
  font-style: normal;
}
/* Project  */
.project-glass {
  height: 100%;
  width: 90%;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-left: 5%;
  margin-top: 10%;
  padding-bottom: 5%;
}
.project{
  margin: 1em;
}
.project-name,.project-name2,
.project-name3,.project-name4{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.vid1, .vid2, .vid3, .vid4 {
  width: 70%;
  height: 27em;
  position: relative;
  top: 1%;
  left: 0%;
  margin-top: 4rem;
  margin-right: 10%;
  display: block;
  margin: auto;
  background-color: rgba(119, 215, 215, 0.23);
  transform-style: preserve-3d;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transform-origin: 25%;
  transition: transform 200ms cubic-bezier(0.4,0,0.16,0.01);
}
.vid2, .vid3, .vid4{
  margin-top: 5%;
}
.content-vid1, .content-vid2, .content-vid3, .content-vid4 {
  position: relative;
  top: 1em;
  border-radius: 2em;
  margin-left: 30vw;
  transform: translate(-50%);
}
.vid1:hover,
.vid2:hover,
.vid3:hover,
.vid4:hover{
  transform: translateX(0) scale(0.9);
}
.project-name2,
.project-name3,
.project-name4{
  font-family: 'Uchen', serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ec008c; 
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c); 
  background: linear-gradient(to right, #fc6767, #ec008c); 
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  margin-top: 10%;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover {
  opacity: 0.2;
}
.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0.5em;
}
.social-list__link {
  padding: 0.5em;
}
/* footer  */
.footer-glass {
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  padding: 2em 0;
  width: 90%;
  position: relative;
  display: block;
  left: 5%;
  margin-top: 5%;
  bottom: 1em;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.mail__link {
  font-size: 1.25rem;
  font-weight:  900;
  background: -webkit-linear-gradient(rgb(219, 60, 211), rgb(245, 71, 71));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  background: -webkit-linear-gradient(rgb(219, 60, 211), rgb(245, 71, 71));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-list__item {
  margin: 0.5em;
}
.social-list__link {
  padding: 0.5em;
} 
/* less  than 800px */
@media only screen and (max-width: 800px){
.intro {
    align-self: center;
    min-width: 100%;
    /* max-height: fit-content; */
    max-height: 100%;
    border-radius: 3em;
    position: relative;
    padding-bottom: 20em;
    margin-left: 4em;
  }
.intro_img {
    min-width: 40%;
    position: inherit;
    left: -10em;
    right: auto;
    margin-left: 14em;
    margin-right: auto;
    margin-top: -2em;
  }
  .name-glass {
    min-width: 95%;
    max-height: 20%;
    left: 0em;
    top: 20%;
    margin-top: 27em;
    position: fixed;
    margin-left: 2%;
}
nav{
    position: relative;
    top: 0.4em;
    min-width: 100%;
    max-width: fit-content;
    max-height:max-content;
    margin-left: 10px;
    margin-right: 0px;
    padding: 0px;
    left: -0.7em;
    padding-left: 0px;
    align-items: center;
    border-radius: 2em;
  }
.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
  }
.title {
    font-size: 4vw;
    position: relative;
    left: 1em;
    top: -0.3em;
  }
.title strong {
    font-size: 6vw;
    position: initial;
    top: 0em;

  }
.about-glass{
      align-self: center;
      min-width: 95%;
      height: 55em;
      border-radius: 3em;
      position: relative;
      padding-bottom: 3em;
      margin: 2%;
  }
  .intro-glass {
    max-width: 90%;
    min-width: 90%;
    max-height: 27%;
    position: relative;
    left: -7%;
}
.introduction {
  font-size: 3.1vw;
  position: absolute;
  left: 1em;
  margin-top: 5%;
}
.skills-glass {
    padding: 0;
    max-height: 100%;
    min-height: 60%;
    left: -1%;
}
.skill-items {
    display: flex;
    height: 10em;
}
.skill-item1,
.skill-item2,
.skill-item3,
.skill-item4{
  min-height: 5%;
  max-height: 10%;
  min-width: 80%;
  max-width: 85%;
  position: absolute;
  text-align: center;
  font-size: 3vw;
}
.skill-item1 {
  display: inline-block;
  top: 10%;
  margin-top: 3%;
}
.skill-item2{
    top: 25%;
    left: -4%;
    margin-top: 10%;
  }
.skill-item3 {
    top: 34%;
    left: -2%;
    margin-top: 25%;
}
.skill-item4{
    top: 50%;
    left: -5%;
    margin-top: 30%;
  }
.about-img{
    min-width: 26%;
    max-width: 30%;
    position: relative;
    margin: 0;
    left: 65%;
  }
  .project-name, .project-name2, .project-name3, .project-name4 {
    font-size: 95%;
    margin: -5%;
    padding: 0;
}
.content-vid1,.content-vid2, .content-vid3, .content-vid4 {
  min-width: 135%;
  max-width: 140%;
  min-height: 72%;
  max-height: 42%;
  padding-bottom: 0%;
  left: -18%;
}
.vid1, .vid2, .vid3, .vid4 {
  width: 60%;
  height: 28em;
  position: relative;
  top: 1%;
  left: -1%;
  margin-top: 5rem;
  margin-right: 10%;
  display: block;
  margin: auto;
}
.vid1 {
  left: 0%;
  width: 50%;
}
.vid2 {
  left: 0%;
  width: 50%;
}
.vid3 {
  left: 0%;
  width: 50%;
}
.vid4 {
  left: 0%;
  width: 50%;
}
.vid2, .vid3, .vid4{
  margin-top: 10%;
}
}

/* less than 600px */
@media only screen and (max-width:600px) {
  video{
    min-width: 100%;
    min-height: 100%;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .intro {
    min-width: 100%;
    max-height: fit-content;
    max-height: 100%;
    border-radius: 3em;
    position: relative;
    padding-bottom: 20em;
    margin: 2em;
  }
  .intro_img {
    min-width: 45%;
    position: inherit;
    left: -7.5em;
    top: 4em;
    right: auto;
    padding: fixed;
  }
  .name-glass {
    min-width: 95%;
    max-height: 25%;
    position: absolute;
    left: 0%;
    margin-top: auto;
    top: 70%;
    margin-left: 2%;
    margin-right: -16%;
}
  .title {
    font-size: 6vw;
    position: relative;
    left: 1em;
  }
  .title strong {
    font-size: 8vw;
    position: initial;
    top: 0em;
  }
  .profession {
    position: relative;
    left: -3em;
  }
.about-glass{
    align-self: center;
    min-width: 100%;
    max-width: 50%;
    max-height: 100%;
    border-radius: 3em;
    position: relative;
    padding-bottom: 0em;
    margin: 0em;
}
.intro-glass {
  max-width: 50%;
  min-width: 84%;
  position: relative;
  left: -5%;
  padding-bottom: 0em;
}
.about-title{
  font-size: 1.4rem;
  margin-bottom: -1em;
}
.introduction {
  font-size: 3.6vw;
  display: inline-block;
  text-align: left;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 10%;
}
.skills-glass {
  max-width: 90%;
  min-width: 90%;
  min-height: 50%;
  max-height: 100%;
  position: relative;
  left: -10%;
}
.about-img{
  min-width: 30%;
  max-width: 25%;
  position: relative;
  margin: 0;
  left: 65%;
  top: -35%;
}
}
